<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataExtraction.Properties.Settings.ConectionDatabase"
            connectionString="Server=HOST;Initial Catalog=Master;MultipleActiveResultSets=true;User ID=USERNAME;Password=PASSWORD" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>